.showContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  overflow: auto;
}

.infoContainer{
  display: flex; 
  width:100%;
  height: 100%;
  padding: 3rem;
}

.imagesContainer{
  width:60%; 
  height:100%;
}

.imageSelectedContainer{
  width: auto;
  height: 50%;
  display: flex;
  justify-content: center;
  background-color: #EDEEF2;
}

.detailsContainer{
  width: 40%;
  padding: 0 1rem;
}

.descriptionContainer{
  padding: 1rem 0;
  font-family: var(--font-montserrat-bold), sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.ufContainer{
  padding: 1rem 0;
  font-size: 31px;
  font-family: var(--font-montserrat-regular), sans-serif;
  font-weight: 900;
}

.priceContainer{
  padding-bottom: 1rem;
  font-size: 20px;
  font-family: var(--font-montserrat-regular), sans-serif;
  font-weight: 400;
}

.roomsBathsPark{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
  font-family: var(--font-montserrat-regular), sans-serif;
  font-weight: 400;
}

.timeStampContainer{
  font-family: var(--font-montserrat-regular), sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.buttonContact{
  border: none;
  width: 100%;
  background-color: #9E005D;
  color: white;
  font-family: var(--font-montserrat-semi-bold), sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 0;
  border-radius: 8px;
}

.contactContainer{
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  border-radius: 8px;
  background: #F5F5F9;
}

.inputContactContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.inputContactContainer label{
  color: #393F49;
  font-family: var(--font-montserrat-semi-bold), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inputContact{
  display: flex;
  padding: 8px 15px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gris-800, #9A9BA0);
  background: #FFF;
}

.buttonSendMessage{
  display: flex;
  width: 92px;
  height: 26px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #9E005D;
  color: #FFF;
  text-align: center;
  font-family: var(--font-montserrat-semi-bold), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  border: none;
}

.buttonBackHome{
  background: #9E005D;
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  color: #FFF;
  font-size: 16px;
}

.containerButtonBackHome{
  padding: 0 1rem; 
  display: flex;
  justify-content: flex-start;
  padding: 1rem 3rem
}


@media (max-width: 1000px) {
  .imagesContainer{
    width: 100%;
    height: 50%;
  }
  
  .infoContainer{
    width: 100%;
    padding: 0 2rem
  }
  
  .detailsContainer{
    width: 100%;
    padding: 1rem 0;
  }
  
  .showContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 245, 250);
    padding: 0;
  }
  
  .imageSelectedContainer{
    height: 70%
  }

  .showContainer{
    position: fixed;
    width: 100vw;
  }

  .infoContainer{
    flex-direction: column;
  }

  .roomsBathsPark{
    justify-content: space-between;
  }

  .buttonContact{
    padding: 16px 0;
  }

  .contactContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .containerButtonBackHome{
    padding: 1rem 2rem
  }
}

